*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
  height: auto;
  width: 1200px;
  margin: auto;
}

.img-logo{
  margin-bottom: -130px;
}

nav{
  margin-top: 10px;
  height: 80px;
  background-color: #eee;
  text-align: center;
  display: flex;
  flex-direction: row;
}

h1 {
  margin-top: 15px;
  color: brown;
  text-align: center;
  font-size: 60px;
  font-family: arial;
}

h2{
  text-align: center;
  margin-top: 10px;
  font-family: arial;
  font-size: 25px;
}

ul{

}
ul li{
  list-style: none;
  display: inline;
  line-height: 80px;
}
ul li a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color: black;
  padding: 0 100px;
}
ul li a:hover{
  color: brown;
}

.video-promo1{
  width: 100%;
  margin-top: 40px;
}

.product1, .product2, .product3{
  width: 800px;
  margin-top: 40px;
}

h3{
  font-family: arial;
  font-size: 25px;
  color: brown;
}

p{
  font-family: arial;
  font-size: 20px;
  text-align: justify;
}
a{
  font-family: arial;
  text-decoration: none;
  color: black;
}

a:hover{
  color: brown;
}

#picture1, #picture2, #picture3
{
  width: 400px;
  height: 310px;
  object-fit: contain;
  float: right;
  margin-left: 40px;
}
