*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
  height: auto;
  width: 1200px;
  margin: auto;
}

.img-logo{
  margin-bottom: -130px;
}

nav{
  margin-top: 10px;
  height: 80px;
  background-color: #ADAD94;
  text-align: center;
  display: flex;
  flex-direction: row;
}

h1 {
  margin-top: 15px;
  color: #C2C91B;
  text-align: center;
  font-size: 60px;
  font-family: arial;
}

h2{
  text-align: center;
  margin-top: 10px;
  font-family: arial;
  font-size: 25px;
  color: #000;
}


ul li{
  list-style: none;
  display: inline;
  line-height: 80px;
}
ul li a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color: #000;
  padding: 0 100px;
}
ul li a:hover{
  color: #FFF;
}

.video-promo1{
  width: 1200px;
  margin-top: 40px;
}

.product1, .product2, .product3{
  width: 800px;
  margin-top: 40px;
}

h3, caption{
  font-family: arial;
  font-size: 22.5px;
  color: #C2C91B;
}

p, td, th{
  font-family: arial;
  font-size: 17.5px;
  text-align: justify;
}
a{
  font-family: arial;
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #C2C91B;
}

#picture1, #picture2, #picture3
{
  width: 380px;
  height: 275px;
  object-fit: contain;
  float: right;
  margin-left: 40px;
}

.top5{
  width: 360px;
  float: right;
  margin-left: 30px;
  background-color: #eee;
}
h4{
  font-family: arial;
  color: #FFA200;
  font-size: 30px;
  font-style: italic;
}
ol li{
  list-style: none;
  font-family: arial;
  font-size: 20px;
  }

#footer{
  background-color: #ADAD94;
  position: relative;
  height: 100px;
  margin-top: 200px;
  clear: both;
}
.copyrightauthor{
  width: 800px;
}

.article1, .article2, .article3, .article4, .article5, .article6{
  width: 800px;
  margin-top: 40px;
}

.picturearticles{
  float: right;
  width: 400px;
}

.picturearticles1{
  float: right;
  width: 400px;
  margin-top: 40px;
}

.picture2, .picture3{
  margin-top: 40px;
}

table{
  width: 800px;
  margin-top: 40px;
}
th, caption{
  text-align: left;
}
table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

tr:nth-child(even){
  background-color: #fff;
}
tr:nth-child(odd){
  background-color: #ddd;
}
.caption1{
  caption-side: bottom;
}
th, td{
  font-size: 15px;
}
.contactform{
  width: 800px;
  background-color: #fff;
  position: absolute;
  margin-top: 40px;
}
.input-field{
  width: 800px;
  height: 50px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 5px solid #C2C91B;
  border-radius: 14px;
  outline: none;

}
.textarea-field{
  width: 800px;
  height: 150px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 5px solid #C2C91B;
  border-radius: 14px;
  outline: none;
  font-family: arial;
}
.BTN{
  border-radius: 20px;
  color:#000;
  margin-top: 18px;
  padding: 10px;
  background-color: #C2C91B;
  font-size: 12px;
  font-family: arial;
  border: none;
  float: right;
}

.form{
  width: 800px;
  height: 800px;
}
.cookiestatement{
  float: right;
  border: 5px solid #FFF;
  opacity: 50% #FA0;
}
